.group-team-assignment-container {
  position: relative;
  border-radius: .25em;
  max-height: 1000em;
  transition: 350ms;
  h4{
    margin-bottom: 1em;
  }
}

.group-team-assignment-container.edit {
  .team-list-wrap {
    border-left: none;
    border-right: none;
    border-color: #fff;
  }
  .team-value{
    background-color: #fff;
  }
}

.group-team-assignment-container {
  .team-list-wrap {
    background-color: #ddd;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-left: .75em solid #eee;
    border-right: .75em solid #eee;
    border-color: #aaa;
  }

  .team-value{
    background-color: #eee;
  }

  button {
    cursor: pointer;
    font-size: 1em;
    padding: .25em .75em;
    border-radius: .25em;
    margin-left: .5em;
    outline: none;
  }


  button[name="edit"] {
    background-color: transparent;
  }

  button[name="unlock"] {
    background-color: transparent;
    outline: none;
  }

  button[name="cancel"] {
    background-color: #eee;
  }
}

.group-team-assignment-container.collapsed {
  max-height: 3em;
  overflow: hidden;
  transition: 350ms;
}

.group-team-assignment-btn-wrap {
  text-align: right;
}

.group-team-assignment-btn {
  cursor: pointer;
  padding: .25em .75em;
  border-radius: .25em;
  margin-left: .5em;
}

.group-play-container {
  margin-bottom: 1.5em;
}