@import './vars';

.app-nav-list {
  width: 98vw;
  max-width: 680px;
  min-width: 480px;
  margin: 0 auto;
}

.app-nav-item {
  a {
   color: #bbb;
  }
}

main {
  width: 98vw;
  max-width: 680px;
  min-width: 480px;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  color: $primary-text-color;
  margin: .25em auto;
  text-align: center;
  padding-top: .5em;
}

section {
  margin-bottom: 1em;
}

.admin-view-container {
  width: 94%;
  margin: 0 auto;
  border: 1px solid #fff;
  margin-top: 2em;

  .admin-view-division-container, .admin-tournament-view-container {
    padding: 1.25em;
    background-color: rgba(240, 240, 240, 0.3);
    border-radius: .25em;
  }

  .group-team-assignment-container {
    padding: 1em;
    border: 1px solid #eee;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
    color: #eee;
  }

} 

.admin-tournament-view-container {
  margin-top: 1em;
  max-height: 100em;

  h2 {
    font-size: 2em;
    margin: .5em;
  }

}

.admin-tournament-view-container.collapsed {
  margin: 0;
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.tournament-form {
  position: relative;

  label {
    padding-top: 1em;
    display: block;
  }

  input[type="text"]{
    font-weight: bold;
  }

  input {
    display: block;
    margin: .5em 0;
    font-size: 1.25em;
    text-indent: .25em;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    line-height: 1.8em;
  }

  label {
    border-top: 1px solid #eee;
  }

  .tournament-form-btn-wrap {
    text-align: right;
    margin-top: 2.25em;
  }

  button {
    cursor: pointer;
    font-size: 1em;
    padding: .25em .75em;
    border-radius: .25em;
    margin-left: .5em;
  }

  button[name="remove"] {
    float: left;
    background-color: #333;
    color: #eee;
    margin-left: 0;
  }

  button[name="edit"] {
    background-color: transparent;
  }

  button[name="cancel"] {
    background-color: #eee;
  }

  .validation-error{
    position: absolute;
    right: 0;
    margin-right: .25em;
    color: #ad0000;
  }

}

.tournament-form.edit {

  input[type="text"]{
    font-weight: normal;
  }

  input {
    background-color:#fff;
   // border-color: rgb(238, 238, 238);
    border-radius: .25em;
    //border-style: none;
    border-color: transparent;
    border-style: solid;
    line-height: 1.8em;
  }

  label {
    border-color: transparent;
  }

  input.error {
    border-color: #ad0000;
    border-style: solid;
    border-radius: .15em;
  }

}

.division-form {
  position: relative;

  input {
    display: block;
    margin: .25em 0;
    font-size: 1.25em;
    text-indent: .25em;
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0);
    border-radius: .25em;
    font-weight: bold;
    line-height: 1.75em;
  }

  .division-form-btn-wrap {
    text-align: right;
    margin-bottom: 1em;
  }

  button {
    cursor: pointer;
    font-size: 1em;
    padding: .25em .75em;
    border-radius: .25em;
    margin-left: .5em;
  }

  button[name="remove"] {
    float: left;
    background-color: #333;
    color: #eee;
    margin-left: 0;
  }

  button[name="edit"] {
    background-color: transparent;
  }

  button[name="cancel"] {
    background-color: #eee;
  }

  .validation-error{
    position: absolute;
    right: 0;
    margin-left: .25em;
    color: #ad0000;
  }

  .classification-list-wrap + span, 
  .age-group-list-wrap + span {
    margin-top: -2.75em;
  }

}

.division-form.edit{

  input {
    display: block;
    margin: .25em 0;
    font-size: 1.25em;
    font-weight: normal;
    text-indent: .25em;
    width: 100%;
    box-sizing: border-box;
    border-color: rgb(238, 238, 238);
    background-color: #fff;
  }

  input.error {
    border: 1px solid #ad0000;
  }
}

.add-division {
  margin-top: 1em;
  span {
    background-color: #fff;
    padding: .25em .75em;
    border-radius: .2em;
  }
}

.admin-view-container {
  padding: 1.25em;
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: .25em;

  h3 {
    margin-bottom: .75em;
  }

  .tournament-list-wrap {
    margin-top: 0;
  }
}


// .auth-form{

//   input {
//     display: block;
//     margin: .5em 0;
//     font-size: 1.5em;
//     text-indent: .25em;
//     width: 100%;
//     box-sizing: border-box;
//     border-color: transparent;
//     border-radius: .1em;
//   }
//   button {
//     cursor: pointer;
//     font-size: 1em;
//     padding: .25em .75em;
//     border-radius: .25em;
//     margin-left: .5em;
//   }
// }


.tournament-view-container{
  width: 94%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 2em;
  padding: 1em;
  border-radius: .25em;
}

.tournament-view-selections-wrap {
  h2 {
    color: #dedede;
    }
}


.tournament-view-list{
  background-color: rgba(240, 240, 240, .1);
  padding: 1em;
  margin: .5em;
  line-height: 1.5em;
  border-radius: .25em;

  
}