@import 'reset';
@import 'vars';
@import 'base';
@import 'layout';

$primary-color: #058210;
$secondary-color: #333;

* {
  box-sizing: border-box;
  font: 1em "Fira Sans", sans-serif;
}

input:-webkit-autofill{
  padding: 3px;
  border: none;
  box-shadow: 0 0 20px 20px #fff inset;
}

body {
  width: 100%;
  height: 100%;
}

.landing-container {
  width: 92%;
  margin: 2em auto;
  padding: 2em 0;
  background: rgba(240,240,240, .3);
  border: 1px solid #ccc;
  border-radius: .25em;
  position: relative;

  form {
    position: relative;
    width: 96%;
    margin: 0 auto;
  }

  input.error {
    border-color: #ad0000;
    border-style: solid;
    border-radius: .15em;
  }

  input {
    margin: 1.5em auto 0 auto;
    width: 90%;
    font-size: 1.5em;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: .1em;
    display: block;
    text-indent: .25em;
  }

  h1 {
    color: $primary-color;
    font-size: 2em;
    text-align: center;
  }

  h3 {
    color: $secondary-color;
    color: #bddfe2;
    font-size: 1.5em;
    text-align: center;
    text-shadow: #000 0.1em 0.1em 0.4em;
  }

  .auth-form-btn-wrap{
    clear: right;
    text-align: right;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
  }

  .signup-link {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: -1.5em;
    left: .75em;
  }

  button {
    background-color: $primary-color; /* Green */
    border: none;
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40%;
  }

  .validation-error{
    position: absolute;
    right: 0;
    margin-right: 2em;
    margin-top: .25em;
    color: #ad0000;
  }

  .signin-error {
    position: absolute;
    margin: 0 auto;
    color: #ad0000;
    width: 100%;
    text-align: center;
    bottom: 2em;
  }

//  .error {
//    border: 3px solid red;
//    margin-right: 20px;
//  }

}

.tournament-view-link {
  text-align: center;
  margin-top: 6em;

  a {
    text-decoration: none;
    color: #f4f5e4;
    font-size: 1.5em;
   }

  span {
    display: inline-block;
    padding: 1.5em;
    background-color: rgba(210, 210, 200, 0.2);
    border: 1px solid #ccc;
    border-radius: .3em;
  }
}
